<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Détail de l'article">
  <meta name="robots" content="noindex,nofollow">
  <title>Titre de l'article - Mon Blog de Ski</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header aria-label="Haut de page" class="header">
  <nav aria-label="Navigation principale">
    <a href="../index.html">    <img src="../img/ski-sport-logo-vintage-vector-logo-Graphics-22202736-1.webp" alt="Logo de la station de ski Valthorens" class="img-ski" width="100" height="100">
    </a>
  </nav>
  <nav aria-label="Navigation principale">
    <ul>
      <li><a href="../component/Login.html" class="login-link">Connexion</a></li>
      <li> <a href="../index.html" class="back-button">Retour</a></li>
    </ul>
  </nav>
</header>

<main>
  <article class="main-article">
    <h1>Titre de l'article</h1>
    <p>Introduction ou contenu principal de l'article. Ici, vous pouvez décrire en détail les événements ou les expériences abordées dans l'article.</p>
    <table class="data-table">
      <caption>Programme de la journée</caption>
      <thead>
      <tr>
        <th>Heure</th>
        <th>Activité</th>
        <th>Remarques</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <time datetime="10:00">10:00</time>
        <td>Arrivée sur site</td>
        <td>Enregistrement et préparation</td>
      </tr>
      <tr>
        <time datetime="12:00">12:00</time>
        <td>Première descente</td>
        <td>Sensations fortes garanties</td>
      </tr>
      </tbody>
    </table>
  </article>

  <section class="comments-section" aria-labelledby="comments-title">
    <h2 id="comments-title">Commentaires</h2>
    <div class="comment">
      <header><strong>Utilisateur1 - 01/01/2024</strong></header>
      <div>Super expérience pour une première fois!</div>
    </div>
    <div class="comment">
      <header><strong>Utilisateur2 - 02/01/2024</strong></header>
      <div>Absolument d'accord, quel début spectaculaire pour une aventure de ski!</div>
    </div>
    <div class="comment">
      <header><strong>Utilisateur3 - 03/01/2024</strong></header>
      <div>Les premières fois sont toujours mémorables, surtout avec des chutes. Bravo!</div>
    </div>
  </section>
</main>

<footer aria-label="Pied de page">
  <nav aria-label="Navigation secondaire">
    <ul>
      <li><a href="../component/MentionLegals.html">Mentions Légales</a></li>
    </ul>
  </nav>
</footer>

</body>
</html>
